<hibernate-configuration>

    <session-factory>

        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/student_details</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1686218</property>

        <!-- Hibernate Settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.formate_sql">true</property>
		  <!-- REQUIRED FIX — Entity Mapping -->
        <mapping class="com.kodnest.updateDataHibernate.Student"/>
    </session-factory>

</hibernate-configuration>
